<div class="chat-container">

    <form [formGroup]="messageForm">
        <div class="message-data">
            <div class="form-field">
                <label for="username">Username: </label>
                <input class="message-form-field" type="text" formControlName="username">
            </div>
    
            <div class="form-field">
                <label for="message">Message: </label>
                <textarea class="message-form-field" type="text" formControlName="messageControl">
                </textarea>
            </div>
            
        
            <ng-container *ngIf="!this.messageForm.valid">
                <h4 class="error-message">
                    Invalid form.
                </h4>
            </ng-container>
        </div>
    </form>

    <div class="submit-button" (click)="sendMessage()">
        <div class="rit-left"></div>
        <div id="submit-center" >Send message</div>
        <div class="rit-right"></div>
    </div>

    <div class="chat">
        <ng-container *ngFor="let chatMessage of (chatMessages$ | async)">
            <div class="single-message">
                <div class="sender">
                    Sender: {{chatMessage.Sender}}
                </div>
                <div>Content: {{chatMessage.Content}}</div>
                <br>
            </div>
        </ng-container>
    </div>
</div>
